:root {
    --height-header: 100px;
    --max-width-primary: 1300px;
    --heigth-navigation-pointers: 100px;
    --dark-backgound-color: #0E141F;
    --dark-font-color: #ffffff;
    --light-backgound-color: #dfdfdf;
    --light-font-color: #1d1d1d;
    --yelou: rgb(255, 203, 54);
}

/* 
#618C03
#F2B705
#D97904
#D92B04
#8C0E03
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Header :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
header {
    height: var(--height-header);
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 0px 10px;
    background-color: var(--dark-backgound-color);
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #29303d;
}

.header-content {
    /* background-color: cadetblue; */
    display: flex;
    width: 100%; /* max-width: var(--max-width-primary); */
    height: 100%;
    margin: auto;
}

/* Logo  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2;
    /* background-color: #46368d; */
}

.logo img {
    margin-right: 10px;
}

.logo h1 {
    font-size: 25px;
}

.logo h2 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* Nav  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
nav {
    /* background-color: bisque; */
    flex-grow: 5;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    gap: 22px;
}

nav ul li {
    display: flex;
    /* background-color: #8d8d80; */
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

nav a {
    display: flex;
    text-decoration: none;
    /* background-color: brown; */
    align-items: center;
    color: #FFF;
    padding: 0 12px;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    transition: .5s ease-in;
    
}

nav a:hover {
    border-bottom: 5px solid var(--yelou);
    color: var(--yelou);
}

p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

/* Btn-menu  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.btn-menu {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
    /* background-color: #94741b; */
}

/* Main ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
main {
    background-color: rgb(240, 240, 240);
}

section {
    height: max-content;
    margin: auto;
}

/* Banner ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#banner { /* section */
    background-image: url(../img/confeitaria.jpg);
    background-size: cover;
    overflow: hidden;
}

#banner .banner-bg {
    height: 100vh;
    padding-top: calc((80px) + var(--height-header));
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner-content {
    width: 100%;
    margin: auto;
    height: 100%;
    
    
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

#slides {
    height: calc(100% - var(--heigth-navigation-pointers));
    display: flex;
    width: 500%;
    overflow-x: hidden;
    transition: margin-left 1s ease-in-out;
}

.slide {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s;
}

.slide-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-content-left {
    color: #cecece;
    width: 800px;
    padding-left: 200px;
    padding-right: 100px;
}

.slide-content-left h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.slide-content-left h2 {
    margin-bottom: 20px;
}

.slide-content-right {
    padding-right: 200px;
    
}

.slide img {
    width: 600px;
    height: 600px;
    border-radius: 30px;
}

.navigation-pointers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 350px;
    height: var(--heigth-navigation-pointers);

}

#btn-previous, #btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    height: 50px;
    width: 70px;
    font-weight: bold;
}

#btn-previous:hover, #btn-next:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
}

#btn-previous {
    border-radius: 5px 0px 0px 5px;
}

#btn-previous i, #btn-next i {
    color: #ececec;
    font-size: 20px;
}

#btn-next {
    border-radius: 0px 5px 5px 0px;
}

.navigation-pointers-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 100%;  
    background-color: rgba(0, 0, 0, .3);
    padding: 0px 20px;
}

.navigation-pointers-content input {
    display: none;
}

.navigation-manual {
    position: relative;
    width: 100%;
    top: -14px;
    display: flex;
    justify-content: space-between;
    /*background-color: rgba(0, 0, 0, 0.5); /* adicionado
    padding-top: 7px;
   /* border-radius: 6px; /* adicionado */
}

.manual-btn {
    border: 2px solid var(--yelou);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) { /* todos, menos no último */
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

.active {
    margin-left: -100px;
}

#radio1:checked ~ .active {
    margin-left: 0;
}

#radio2:checked ~ .active {
    margin-left: -25%;
}

#radio3:checked ~ .active {
    margin-left: -50%;
}

#radio4:checked ~ .active {
    margin-left: -75%;
}

#radio5:checked ~ .active {
    margin-left: -100%;
}

.navigation-auto {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 14px; /* adicionado */
    /*border-radius: 6px;  /* adicionado */
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--yelou);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--yelou);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--yelou);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: var(--yelou);
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: var(--yelou);
}

/* dark, light, bg      ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.dark { 
    background-color: var(--dark-backgound-color);
    color: var(--dark-font-color)
}

.light {
    background-color: var(--light-backgound-color);
    color: var(--light-font-color);
}

.dark-bg {
    background-color: ;
}

.light-bg {
    background-color: ;
}

/* Sobre ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#sobre {  /* section */
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: calc((80px) + var(--height-header));
    
}

.sobre-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: var(--max-width-primary);
    margin: auto;
}

.sobre-content > div {
    display: flex;
    flex-direction: row;
}

.sobre-content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding-right: 80px;
}

.more-info {
    background-color: #e0a910;
    border: none;
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 15px;
    width: max-content;
    cursor: pointer;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: 50px;
    box-shadow: 2px 2px 8px #333;
    transition: .5s ease-in-out;
    text-transform: uppercase;
}

.more-info:hover {
    background-color: #bb8d0d;
    /* color: #dfdfdf; */
}

.social-media {
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.social-media div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cacaca;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.social-media-face i {
    color: #195ec7;
}

.social-media-insta i {
    color: #7B1B4B;
}

.social-media-zap i {
    color: #148809;
}

.social-media-pinter i {
    color: #c5040d;
}

.social-media-tiktok i {
    color: #0e1011;
}

.social-media a {

    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--light-backgound-color); */
    background-color: #e0e0e0;
    border-radius: 50%;
    transition: .5s ease-in-out;

}

.social-media a:hover {
    background-color: #dabd19;
}

.social-media i {
    
    font-size: 25px;
    
}

.sobre-content-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;

}

.sobre-content-right img {
    width: 100%;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #333;
}

.sobre-content-left h1 {
    text-align: left;
    margin-bottom: 12px;
    font-size: 35px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    
}

.sobre-content-left h2 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 16px;
    
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

/* Serviços ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#servicos {  /* section */
    min-height: 100vh;
    padding-top: calc((80px) + var(--height-header));
}

.servicos-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

.title-subtitle {
    margin-bottom: 120px;
}

#servicos h1 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 16px;
    color: #dfdfdf;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#servicos h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 10px;
    color: #b3b3b3;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#servicos h2:last-child {
    margin: 10px;
}

.services-list {
    
    display: flex;
    justify-content: space-between;
    /* background-color: #7B1B4B; */
    flex-wrap: wrap;
}

.service-list-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 12px;
    border: 1px solid #353535;
    box-shadow: 4px 4px 4px rgba(61, 61, 61, 0.3);
    transition: .5s ease-in-out;
    padding: 12px 20px;
    cursor: pointer;
}

.service-list-item:hover {
    background-color: #313131;
    border: 1px solid #c5c5c5;
    margin: 10px 20px 30px 20px;
}

/* .service-list-item:not(:last-child) { /* todos, menos no último 
    border-left: 1px solid #20515e;
} */

 .service-list-item:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.service-list-item i {
    font-size: 60px;
    color: #94741b;
    margin-bottom: 15px;
}

.service-list-item button {
    padding: 6px 12px;
    border-radius: 16px;
    border: none;
    background-color: #3f3f3f;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.service-list-item button:hover {
    /* background-color: #a77c06; */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    color: #fff;
    padding: 6px 26px;
}

.servicos-content p {
    text-align: center;
    padding: 100px 0px;
}

/* Projetos ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#projetos {  /* section */
    min-height: 100vh;
    padding-top: calc((80px) + var(--height-header));
}

.projetos-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

.projetos-content h1 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 30px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.projetos-content h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    color: #999999;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-galeria {
    width: 100%;
    list-style: none;
    background-image: linear-gradient(to right,  rgba(33, 45, 66, .0) 0%, #e9e9e9 30%,  #e9e9e9 70%, rgba(43, 43, 43, 0)) ;
    display: inline-block;
    margin-bottom: 50px;
}

.menu-galeria ul {
    display: flex;
    height: 100px;
    justify-content: center
}

.menu-galeria li {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #9b9b9b;
    color: #222222;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 6px 20px;
    
    
}

.menu-galeria li.first {
    border: none;
}

.menu-galeria ul a {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgba(0, 0, 0, .0);
    transition: 1s ease-in-out;
}

.menu-galeria ul a:hover {
    
    background-color: #e0e0e0;
    border-bottom: 5px solid rgba(136, 37, 37, .5);
}

.fotos {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px;
}

.foto {
    width: 280px;
    height: 250px;

}

.foto-info {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width:inherit;
    height:inherit;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#FFF;
    border-radius: 8px;
    transition: 1s ease-in-out;
}

.foto:hover .foto-info {
    display: flex;

}


.foto img {
    height: inherit;
    width: inherit;
    
}

/* Testemunhos :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#testemunhos {  /* section */
    min-height: 100vh;
    padding-top: calc((80px) + var(--height-header));
}

.testemunhos-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

/* Contato :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#contato {  /* section */
    min-height: 100vh;
    padding-top: calc((80px) + var(--height-header));
}

.contato-content {
    max-width: var(--max-width-primary);
    margin: auto;
}

/* Footer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
footer {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);

}

.footer-bg {

}

.footer-content {
    max-width: var(--max-width-primary);
    margin: auto;
}